* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(163, 128, 64);
  height: 100vh;
  background-image: linear-gradient(to top left, #c6e966 0%, #c9e5a1 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */

h1,
p {
  letter-spacing: 2px;
}

main {
  position: relative;
  width: 100 rem;
  height: 60 rem;
  background-color: #fff;
  backdrop-filter: blur;
  filter: blur();
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/*ELEMENTTS*/

.player--name {
  position: relative;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 1rem;
  text-align: center;
}

.guess {
  width: 10rem;
  height: 7rem;
  margin: 5rem;
  display: block;
  background-color: #c6e966;
  font-size: 50px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: #fff 2px;
}

.btn {
  margin-top: 10px;
  display: block;
  width: 10rem;
  height: 5rem;
  background-color: rgb(163, 128, 64);
  color: #fff;
  font-size: 2rem;
}

.hidden-gen-letter {
  font-size: 60px;
  text-align: center;
  box-sizing: border-box;
  width: 6rem;
  height: 8rem;
  border: #c6e966 4px;
  border-style: solid;
  position: absolute;
  left: 36rem;
  top: 25rem;
}

#wrong-letters {
  font-size: 16px;
  width: 20rem;
  position: absolute;
  top: 43rem;
  left: 30rem;
}

.btn--agn {
  position: absolute;
  top: 5rem;
  left: 33rem;
  width: 12rem;
}

.winner {
  background-color: rgb(248, 238, 143);
}

.winnerLetter {
  background-color: rgb(163, 128, 64);
  color: white;
  border: none;
}
